<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Name: <%= @name %> </h1>
    <h3> Email: <%= @email %> </h3>
    <h5> Topic: <%= @topic %></h5>
    <p> Description: <%= @description%> </p>
  </body>
</html>